<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" href="{{ '/' | relative_url }}">
      {{ site.title }}
    </a>

    <nav class="site-nav">
      <a class="page-link" href="{{ '/' | relative_url }}">Home</a>
      <a class="page-link" href="{{ '/about/' | relative_url }}">Background &amp; CV</a>
      <a class="page-link" href="{{ '/projects/' | relative_url }}">Projects</a>
      <a class="page-link" href="{{ '/articles/' | relative_url }}">Articles</a>
      <a class="page-link" href="{{ '/services/' | relative_url }}">Services</a>
    </nav>
  </div>
</header>