---
layout: default
---

<article class="post">
  {{ content }}
</article>

<hr>

<section id="comments">
  <h2>Comments</h2>

  <!-- Giscus -->
  <script src="https://giscus.app/client.js"
        data-repo="Ali-Mahdipour/ali-mahdipour.github.io"
        data-repo-id="R_kgDOIqs6Mg"
        data-category="Comments"
        data-category-id="DIC_kwDOIqs6Ms4C17Ku"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
</section>
